{{ define "base/index" }}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            {{ or .Title "Locatify - IP Lookup" }}
        </title>

        <meta charset="UTF-8" />
        <link rel="icon" href="/favicon.ico" />
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
        <meta name="msapplication-TileColor" content="#b91d47">
        <meta name="theme-color" content="#ffffff">
        <link rel="manifest" href="/site.webmanifest">
    
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name='description' content="A web form which allows users to lookup the location of an ip address" />
    
        <!-- Enable Google Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    
        <!-- Download Poppins Font -->
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">

        <!-- HTMX & head-support installs -->
        <script src="https://unpkg.com/htmx.org@1.9.11" integrity="sha384-0gxUXCCR8yv9FM2b+U3FDbsKthCI66oH5IA9fHppQq9DDMHuMauqq1ZHBpJxQ0J0" crossorigin="anonymous"></script>
        <script src="https://unpkg.com/htmx.org@1.9.11/dist/ext/head-support.js"></script>

        <!-- Alpine.js install -->
        <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>

        <link href="static/base.css" rel="stylesheet"/>
        <script src="static/bundle.js"></script>

        {{ block "base/head" . }}
        {{ end }}
    </head>
    <body hx-ext="head-support">
        <nav>
            <div class="nav-contents">
                <a href="/">
                    <img
                        height="60px"
                        src="assets/locatify.png"
                        alt="Locatify Logo"
                    >
                </a>
            </div>
        </nav>
        <main>
            {{ block "base/content" . }}
                <div style="color: white">
                    We&apos;re not sure how you got here...
                    <a href="/">Go home</a>
                </div>
            {{ end }}
        </main>
        <footer>
            <div class="footer-contents">
                <p>
                    &copy; {{ .CopyrightYear }} Ross Alexandra
                </p>
            </div>
        </footer>
    </body>
</html>
{{ end }}
