<form class="bulk-search">
    <h3>Bulk Lookup</h3>
    <p>
        Upload a file containing many IPs to search.
    </p>

    <div class='file-uploader' aria-role="button" aria-label="File Upload">
        <input type="file" />

        <h4>Drag &amp; Drop</h4>
        {% include 'icons/file-upload.html.twig' with { 'size': '48' } %}
    </div>

    <a href="{{ absolute_url(asset('example.csv')) }}">Download Sample</a>

    <div id='ip-table'>
        <table>
            <thead>
                <tr>
                    <th>IP</th>
                    <th>Label</th>
                </tr>
            </thead>
            <tbody>
                <template>
                    <tr>
                        <td>
                            <input type="text" name="ip[0][ip]" readonly value="" />
                        </td>
                        <td>
                            <input type="text" name="ip[0][label]" readonly value="" />
                        </td>
                    </tr>
                </template>
            </tbody>
        </table>
    </div>

    <div class="actions">
        <button class="search-type-swap secondary" data-swap-to="manual">
            {% include 'icons/manual.html.twig' with { 'size': '24' } %}
            Manual
        </button>
        <button type="submit">
            {% include 'icons/search.html.twig' with { 'size': '24' } %}
            Search
        </button>
    </div>
</form>
