{% extends "base-page.html.twig" %}

{% block styles %}
    <link rel="stylesheet" href="{{ asset('components/search-panel/index.scss') }}">
    <link rel="stylesheet" href="{{ asset('styles/search.scss') }}">
{% endblock %}

{% block scripts %}
    <script src="{{ asset('components/search-panel/index.js') }}"></script>
{% endblock %}

{% block body %}
    <div class="search-container">
        <div id="search-panel" data-search-type="manual">
            <div class="manual-search-panel">
                {% include 'components/manual-search-panel.html.twig' %}
            </div>
            <div class="bulk-search-panel">
                {% include 'components/bulk-search-panel.html.twig' %}
            </div>
        </div>
    </div>
{% endblock %}
