.search-container {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100%;
}

#search-panel {
    background-color: var(--layer-color);
    border-radius: var(--border-radius);
    padding: 15px;

    width: 400px;

    backdrop-filter: grayscale(100%);
}

.ip-group {
    display: contents;
}

button.remove-ip,
.add-ip {
    padding-inline: 0px;
}

.ip-groups {
    display: grid;
    grid-template-columns: minmax(0px, 1fr) minmax(0px, 1fr) 24px;
    gap: 10px;
    width: 100%;
    align-items: center;

    margin-block: 10px;
    padding-right: 10px;

    max-height: 50svh;
    overflow-y: auto;

    scrollbar-width: thin;
    scrollbar-color: var(--layer-color) var(--layer-color);

    &::-webkit-scrollbar {
        width: 5px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: var(--layer-color);
    }
}

.actions {
    display: flex;
    flex-direction: row;
    gap: 10px;

    width: 100%;

    align-items: center;
    justify-content: end;
}

form.bulk-search {
    display: flex;
    flex-direction: column;
}

.file-uploader {
    align-self: start;

    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 10px;

    border: 1px dashed var(--border-color);
    border-radius: var(--border-radius-small);
    padding: 15px;
    margin-top: 10px;

    & > input[type="file"] {
        position: absolute;
        opacity: 0;
    
        inset: 0;
        width: 100%;
        height: 100%;
    
        z-index: 100;
    
        cursor: pointer;
    }

    &:focus-within:after {
        position: absolute;
        inset: 0px;
        content: '';

        outline: 3px solid var(--primary-color);

    }
}

.csv-sample {
    align-self: start;
}

.ip-table[data-visible="false"] {
    display: none;
}

.input-row {
    display: grid;
    grid-template-columns: minmax(0px, 1fr) minmax(0px, 1fr);
    align-items: center;
    justify-content: start;
    gap: 10px;

    width: 100%;

    border-bottom: 1px solid var(--border-color);
    padding: 5px 15px;
}

input[readonly] {
    background-color: unset;
    border: unset;
    padding: unset;

    color: var(--text-color);
    font-family: var(--primary-font);
    font-size: var(--primary-body-font-size);
}

.actions {
    margin-top: 10px;
}
