<form hx-boost>
    <h2>Bulk Lookup</h2>
    <p>
        Upload a file containing many IPs to search.
    </p>

    <input type="file" />
    <a href="#">Download Sample</a>

    <div class="actions">
        <button class="search-type-swap" data-swap-to="manual">Manual</button>
        <button disabled="true">Search</button>
    </div>
</form>
