<form>
    <h2>IP Lookup</h2>
    <p>
        Manually enter IP addresses, or use bulk lookup to upload a file of IP
        addresses.
    </p>
    <div class="ip-group">
        <input type="text" placeholder="IP address" />
        <button>+</button>
    </div>

    <div class="actions">
        <button class="search-type-swap" data-swap-to="bulk">Bulk</button>
        <button disabled="true">Search</button>
    </div>
</form>
