.search-container {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100%;
}

#search-panel {
    background-color: var(--layer-color);
    border-radius: var(--border-radius);
    padding: 15px;

    width: 400px;

    backdrop-filter: grayscale(100%);

    & > .manual-search-panel {
        display: none;
    }

    & > .bulk-search-panel {
        display: none;
    }

    &[data-search-type="manual"] {
        .manual-search-panel {
            display: contents;
        }
    }

    &[data-search-type="bulk"] {
        .bulk-search-panel {
            display: contents;
        }
    }
}
