{{ define "search/manual-lookup" }}
    <form
        hx-get="/results"
        hx-trigger="submit"
        hx-target="main"
        hx-swap="innerHTML"
        x-data="{ ipGroups: [{
                ip: '',
                label: '',
                _id: Math.random()
            }]
        }"
        @new-ip-group="ipGroups.push({ip: '', label: '', _id: Math.random()})"
        @remove-ip-group="ipGroups.splice($event.detail.index, 1)"
    >
        <h3>IP Lookup</h3>
        <p>
            Manually enter IP addresses, or use bulk lookup to upload a file of IP
            addresses.
        </p>
        <div class="ip-groups">
            <template x-for="(ipGroup, index) in ipGroups" :key="ipGroup._id">
                <div class="ip-group">
                    <input
                        required
                        type="text"
                        placeholder="IP address"
                        x-bind:name="`ip[${index}][ip]`"
                        x-model="ipGroups[index].ip"
                        @keydown.enter.prevent
                    />
                    <input
                        type="text"
                        placeholder="Label"
                        x-bind:name="`ip[${index}][label]`"
                        x-model="ipGroups[index].label"
                        @keydown.enter.prevent
                    />
                    <button
                        class="remove-ip icon"
                        aria-label="Remove"
                        type="button"
                        @click="$dispatch('remove-ip-group', { index })"
                    >
                        <x-icon size="24" icon="remove"></x-icon>
                    </button>
                </div>
            </template>
        </div>

        <button
            class="add-ip icon"
            type="button"
            aria-label="Add New"
            @click="$dispatch('new-ip-group')"
        >
            <x-icon size="24" icon="new-item"></x-icon>
        </button>

        <div class="actions">
            <button
                class="search-type-swap secondary"
                type="button"
                @click="$dispatch('search-type-swap', {searchType: 'bulk'})">
                <x-icon size="24" icon="bulk"></x-icon>
                Bulk
            </button>

            <button
                x-bind:disabled="ipGroups.length === 0"
                type="submit"
            >
                <x-icon size="24" icon="search"></x-icon>
                Search
            </button>
        </div>
    </form>
{{ end }}
