<div class="search-container">
    <div id="search-panel" data-search-type="manual">
        <div class="manual-search-panel">
            {% include 'pages/search/components/manual-search-panel.html.twig' %}
        </div>
        <div class="bulk-search-panel">
            {% include 'pages/search/components/bulk-search-panel.html.twig' %}
        </div>
    </div>
</div>
